@import scala.collection.mutable
@(articles: Form[ArticleFormModel],
        chapters: Form[ChapterFormModel],
        pathList: mutable.MutableList[String],
        pathMap: mutable.HashMap[String, Entity])(implicit messages:Messages,request: RequestHeader, messagesProvider: MessagesProvider)



@main("articles & chapters database") {

    @helper.form(action = routes.Application.insertArticle()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("chapterId"))

        <button type="submit">Create article</button>
    }

    @helper.form(action = routes.Application.insertChapter()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("parentId"))

        <button type="submit">Create chapter</button>
    }

    @for(s <- pathList){

        <ul><a href='@routes.Application.info(s)'> @pathMap.get(s)</a>  <a href='@routes.Application.delete(s)'>[x]</a></ul>
    }


@*<ul>@iteration(0,1, art, chap)</ul>*@


}









